n8n-tradebuddy-ai-insights-workflow.json
{"name":"TradeBuddy AI Insights","nodes":[{"parameters":{"httpMethod":"POST","path":"tradebuddy-insights","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"tradebuddy-insights"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = input.body || input;\nconst trades = body.trades || [];\nconst notes = body.notes || [];\nconst analysis = body.analysis || {};\nconst ss = analysis.summaryStats || {};\n\nconst wins = trades.filter(t => (t.pnl || 0) > 0);\nconst losses = trades.filter(t => (t.pnl || 0) < 0);\nconst winRate = trades.length ? ((wins.length / trades.length) * 100).toFixed(1) : '0';\nconst totalPnl = trades.reduce((s, t) => s + (t.pnl || 0), 0);\nconst byEmotion = {};\ntrades.forEach(t => {\n  const e = t.emotion || 'unknown';\n  byEmotion[e] = (byEmotion[e] || 0) + 1;\n});\n\nconst tradeSamples = trades.slice(0, 50).map(t => ({\n  symbol: t.symbol,\n  emotion: t.emotion,\n  pnl: t.pnl,\n  r: t.r_multiple,\n  session: t.session,\n  setup: t.setup_type,\n  grade: t.trade_grade,\n  checklist: t.checklist_completion_percent,\n  duration: t.duration,\n  notes: (t.notes || '').slice(0, 250),\n  lessons: (t.lessons_learned || '').slice(0, 250)\n}));\n\nconst notesForPrompt = notes.slice(0, 60).map(n => `[${n.category||'note'}] \"${(n.title||'').slice(0,100)}\": ${(n.content||'').slice(0, 500)}`).join('\\n---\\n');\n\nconst analysisBlock = analysis.totalTrades > 0 ? `\nAGGREGATED METRICS (${analysis.totalTrades} trades): Win rate ${analysis.winRate}%, Total P&L ${analysis.totalPnL}, PF ${analysis.profitFactor}, Avg R ${analysis.avgR ?? 'N/A'}, Checklist win rate (80%+): ${analysis.checklistWinRate ?? 'N/A'}%\nSTREAKS: Current win ${ss.currentWinStreak||0}, Current loss ${ss.currentLossStreak||0}, Longest win ${ss.longestWinStreak||0}, Longest loss ${ss.longestLossStreak||0}\nRECENT (last 10): ${ss.recentWinRate != null ? ss.recentWinRate + '% win rate' : 'N/A'}, P&L ${ss.recentPnL != null ? ss.recentPnL : 'N/A'}\nBEST TRADE: ${ss.bestTrade ? JSON.stringify(ss.bestTrade) : 'N/A'}\nWORST TRADE: ${ss.worstTrade ? JSON.stringify(ss.worstTrade) : 'N/A'}\nEMOTION: ${JSON.stringify(analysis.emotionPerformance||[])}\nSESSION: ${JSON.stringify(analysis.sessionPerformance||[])}\nSETUP: ${JSON.stringify(analysis.setupPerformance||[])}\nGRADES: ${JSON.stringify(analysis.gradePerformance||[])}\nSYMBOLS (top 12): ${JSON.stringify((analysis.symbolPerformance||[]).slice(0,12))}\n` : '';\n\nconst prompt = `You are a trading psychologist and performance analyst. Analyze this trader's data and provide actionable, in-depth insights. Be specific and reference the data.\n\nTRADE HISTORY (${trades.length} trades) - each with symbol, emotion, pnl, R-multiple, session, setup, grade, checklist %, duration, notes, lessons:\n${JSON.stringify(tradeSamples)}\n\nUSER LEARNING NOTES (${notes.length}):\n${notesForPrompt || 'None yet.'}\n${analysisBlock}\n\nCRITICAL - actionItems: These are the ONLY items shown as checkboxes on the dashboard. 5-8 SHORT steps (max 12 words each), start with verb. Extract from trade lessons, notes, and your analysis. Do NOT repeat these in recommendations - actionItems = dashboard checkboxes; recommendations = longer explanations for the Analysis page only.\n\nRespond with ONLY valid JSON, no markdown or extra text. Use exactly these keys:\n{\n  \"summary\": \"2-3 sentence overview of trading psychology and performance\",\n  \"emotionAnalysis\": \"Detailed analysis of how emotions correlate with outcomes.\",\n  \"tendencies\": [\"3-5 behavioral tendencies with brief explanation\"],\n  \"recommendations\": [\"3-5 recommendations with explanation - for Analysis page. Do NOT duplicate actionItems here.\"],\n  \"actionItems\": [\"5-8 SHORT dashboard checkboxes. Each max 12 words. Start with verb. Unique - no duplicates in recommendations.\"],\n  \"strengths\": [\"2-4 things the trader does well\"],\n  \"sessionInsights\": \"Best/worst sessions to trade and why\",\n  \"setupInsights\": \"Which setups work best/worst\",\n  \"riskInsights\": \"Risk management observations\",\n  \"topAction\": \"Single most important action - one short sentence (max 15 words) or null if covered by actionItems\"\n}`;\n\nreturn [{\n  json: {\n    prompt,\n    fallback: {\n      summary: trades.length ? `Analyzed ${trades.length} trades. Win rate ${winRate}%. Total P&L: ${totalPnl >= 0 ? '+' : ''}${totalPnl.toFixed(2)}.` : 'No trades to analyze.',\n      habits: Object.entries(byEmotion).map(([e,c]) => `${e}: ${c} trades`).slice(0, 5),\n      recommendations: parseFloat(winRate) < 50 ? ['Focus on emotional awareness before entries.'] : ['Keep logging for deeper patterns.'],\n      actionItems: parseFloat(winRate) < 50 ? ['Complete 100% of pre-trade checklist before every entry', 'Take 60-min break after any C-grade or 1R+ loss', 'Predefine profit scale before entry and write it down', 'Wait for closure confirmation not anticipation', 'Follow your plan without deviation'] : ['Complete pre-trade checklist before every entry', 'Trust your edge and wait for setups', 'Follow your plan without deviation']\n    },\n    hasTrades: trades.length > 0\n  }\n}];\n"},"id":"prepare-prompt","name":"Prepare AI Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-ai","leftValue":"={{ $json.output || $json.text || $json.choices?.[0]?.message?.content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"check-ai-response","name":"Has AI Response?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1280,304]},{"parameters":{"jsCode":"const ai = $input.first().json;\nconst content = ai.output || ai.text || ai.choices?.[0]?.message?.content || '{}';\nlet parsed = {};\ntry {\n  const cleaned = String(content).replace(/```json\\n?|```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = { summary: String(content).slice(0, 500) };\n}\nconst prep = $('Prepare AI Prompt').first().json;\nconst body = $('Webhook').first().json?.body || {};\nconst tradeCount = body.trades?.length || 0;\nreturn [{\n  json: {\n    summary: parsed.summary || prep.fallback.summary,\n    habits: parsed.tendencies || prep.fallback.habits,\n    recommendations: parsed.recommendations || prep.fallback.recommendations,\n    actionItems: (() => { const raw = parsed.actionItems || parsed.recommendations || prep.fallback.actionItems || []; const arr = Array.isArray(raw) ? raw : []; return arr.map(a => { const s = typeof a === 'string' ? a : String(a || ''); return s.length > 80 ? s.slice(0, 77) + '...' : s; }).filter(Boolean).slice(0, 8); })(),\n    aiAnalysis: parsed.emotionAnalysis || null,\n    sessionInsights: parsed.sessionInsights || null,\n    setupInsights: parsed.setupInsights || null,\n    riskInsights: parsed.riskInsights || null,\n    strengths: parsed.strengths || [],\n    topAction: parsed.topAction || null,\n    metrics: prep.hasTrades ? { totalTrades: tradeCount, winRate: body.analysis?.winRate, totalPnl: body.analysis?.totalPnL, profitFactor: body.analysis?.profitFactor, avgR: body.analysis?.avgR } : null\n  }\n}];\n"},"id":"parse-ai","name":"Parse AI Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,208]},{"parameters":{"jsCode":"const prep = $('Prepare AI Prompt').first().json;\nreturn [{\n  json: {\n    summary: prep.fallback.summary,\n    habits: prep.fallback.habits,\n    recommendations: prep.fallback.recommendations,\n    actionItems: prep.fallback.actionItems || prep.fallback.recommendations || [],\n    aiAnalysis: null,\n    sessionInsights: null,\n    setupInsights: null,\n    riskInsights: null,\n    strengths: [],\n    topAction: null\n  }\n}];\n"},"id":"use-fallback","name":"Use Fallback","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,400]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1936,304]},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[672,304],"id":"9356fcfd-3fed-4b7a-9ea9-68f4138634bb","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[544,512],"id":"d3d15a9f-5cba-4128-b974-e52079425b93","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"0z69JBh9GR98FLdZ","name":"DeepSeek account"}}}],"connections":{"Webhook":{"main":[[{"node":"Prepare AI Prompt","type":"main","index":0}]]},"Prepare AI Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Has AI Response?":{"main":[[{"node":"Parse AI Response","type":"main","index":0}],[{"node":"Use Fallback","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Use Fallback":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Has AI Response?","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"pinData":{},"staticData":null,"tags":[],"triggerCount":1,"versionId":"0e539aaa-dbf5-4b61-bb1f-aee2b16eb6db"}